*{
    box-sizing: border-box;
}
header{
    background-color: darkred;
    color: white;
    align-items: center;
    text-align: center;
    font-family: "Anton", serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
body {
    background-color: wheat;
}
main{
    display: flex;
    gap: 1rem;
    text-align: center; 
}
p {
    margin:1.5rem;
}
img {
    margin:1rem;
}

.park{
    color: #ffffff;
    background-color: #000000;
    margin: 0;
    flex:1;
}
.garden{
    background-color: #ff0606;
    margin: 0;
    flex:1;
}
.odeonsplatz{
    background-color: #ffcc00;
    margin: 0;
    flex:1;
}
footer {
    padding:1rem;
    background-color: darkred;
    color: #ffffff;
}
.anton-regular {
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  